body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
#main {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    background-color:  rgba(50, 50, 50, 0.8);
}

header {
    background-image: url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F2356853556C27BD133");
    background-size: cover;
    color: #fff;
    height: 550px;
    text-align: center;
}

#top_menu {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
}

#top_menu div {
	margin-right: 20px;
	font-size: 20px;
	display: inline-block;
}

#top_menu #logo {
	font-size: 28px;
	margin-right: 600px;
	padding: 10px;
}

.text_box {
	font-size: 50px;
	font-family: 'Black Han Sans', sans-serif;
	padding: 100px 0 0 0 ;
}
.text_box hr {
	width: 500px;
}

.text_box span {
	width: 100%;
	display: inline-block;
}

.text_box .text{
	padding: 5px;
	font-family: 'Arial', sans-serif;
	font-weight: normal;
	font-size: 18px;
}

.blink {
  animation: blink 0.8s infinite;
  font-size: 1.5rem;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

a:visited {font-weight: bold; color: rgba(50, 50, 50, 0.8); text-decoration: none;}
a:link {font-weight: bold; color: rgba(50, 50, 50, 0.8); text-decoration: none;}
a:hover {font-weight: bold; color: white; text-decoration: none;}
a:active {font-weight: bold; color: white; text-decoration: none;}

.title {
	width: 1000px;
	font-size: 40px;
	text-align: center;
	font-family: 'Black Han Sans', sans-serif;
}

#about #my {
	margin-left: 180px;
	margin-right: 50px;
	width: 200px;
	display: inline-block;
}
#about #my img {
	width: 200px;
}
#about #info {
	display: inline-block;
}
#about #info img{
	margin-right: 20px; 
}
#about #info span{
	font-size: 18px;
}
#about #info li {
	list-style-type: none;
	padding: 5px;
}

#skilset {
	background-color: #A0BAED;
	height: 750px;
}

#skilset .skbox {
	background-color: white;
	padding: 20px;
	border: 1px solid none;
	border-radius: 20px;
}

#skilset img {
	height: 50px;
}

#projects {
	background-color: #BCE9B7;
	height: auto;
	padding-bottom: 50px;
}
#projects .pjbox {
	border-radius: 30px;
	background-color: white;
	width: 1000px;
	height: 800px;
	margin: 0px auto 80px;
}
#projects .date {
	text-align: center;
	color: #aaaaaa;
}
#projects .pjimg {
	padding: 100px 50px 30px 70px;
	width: 400px;
	display: inline-block;
}
#projects .pjdetail {
	display: inline-block;
	width: 400px;
	height: 500px;
}

#projects a:visited {font-weight: bold; color: rgba(50, 50, 50, 0.8); text-decoration: none;}
#projects a:link {font-weight: bold; color: rgba(50, 50, 50, 0.8); text-decoration: none;}
#projects a:hover {font-weight: bold; color: black; text-decoration: none;}
#projects a:active {font-weight: bold; color: black; text-decoration: none;}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
